<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each styles}}
    <link rel="stylesheet" href={{this}}>
    {{/each}}
    <title>Products</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="navbar-left">
                <div>
                    <a class="nav-link" href="/"></a>
                </div>
                <div class="collapse navbar-collapse" id="options">
                    <ul class="navbar-nav">
                        <a href="/realtimeproducts">Real time products</a>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#options">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-right">
                <div>
                    <a href="/"><img alt="cart"></a>
                </div>
            </div>
        </nav>
    </header>
    {{{body}}}


</body>

</html>