<div class="container">
<nav>
    <ul>    
        <li><a href="/">HOME</a></li>
    </ul>
</nav> 
    
    <div class="gallery" >
        <h1 class="title2">Panel de Controladores</h1>
        
        <div class="panel">
        <button>Controladores</button>
        <button onclick="irDBUser()">Data Base User</button>
        <button>Rendimientos</button>
        <button onclick="irAgregarProductos()">Agregar Productos</button>
        <button onclick="volver()">Volver</button>
        </div>
    </div>
</div>

<script src="/js/admin.js"></script>