<main>
    <h1>Chat</h1>
    <div>
        <p id="messageLog">
            {{#each messages}}
                {{user}} dice: {{message}}<br>
            {{/each}}
        </p>
    </div>
    <div id="chat-controls">
        <input id="chatbox">
        <button id="send">Enviar</button>
    </div>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>
