<div class="container">
<nav>
</nav>
<div class="login">
    <h1 class="loginH1">Inicio Sesion </h1>
    <form id="loginForm">
        <label >Correo Electronico</label>
        <input class="email" name="email">
        <label >Contraseña</label>
        <input class="submit" name="password" type="password" >
        <br>
        <input type="submit">
    </form>
        <p>No estas registrado ? <a href="/register"> Registrate aquí</a> </p>
</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>