<div class="container">
    <h1>AGREGAR PRODUCTO</h1>
  <div class="galeria">
    <form action="/api/products" method="post">
        <label>Titulo</label>
        <input name="title" id="title">
            <br/>
        <label>Descripcion</label>
        <input name="description" id="description">
            <br/>
        <label>Precio</label>
        <input name="price" type="number" id="price">
            <br/>
        <label>Foto</label>
        <input name="img" id="img">
            <br/>
        <label>Codigo</label>
        <input name="code" id="code">
            <br/>
        <label>Stock</label>
        <input name="stock" id="stock">
            <br/>
    </form>
    </div>
        <input type="button" id="addProd" value="AGREGAR PRODUCTO">
    <div >
        <h3>ELIMINAR PRODUCTO</h3>
        <form action="">
            <label>Ingrese el ID del producto a eliminar</label>
            <input name="pid" id="pid" placeholder="PROD11">
                <br/>
        </form>
            <input type="button" id="deletProd" value="ELIMINAR PRODUCTO">
    </div>
    <div>
        <h3>LISTA DE PRODUCTOS</h3>
        <p id="productList"></p>
    </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>