<div>
    <h1 class="loginH1">REGISTRO</h1>

    <form id="registerForm">    
        <label>Nombre</label>
        <input name="first_name">

        <label>Apellido</label>
        <input name="last_name">

        <label>Edad</label>
        <input name="age">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password"name="password">
        
        <input type="submit">
    </form>
    <p>¿Ya tenes una cuenta ? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>